@model List<WeirdosShop.Models.Product>

@foreach (var i in Model)
{
    var total = i.price - i.price * i.sale / 100;
    <div class="col-12 col-md-4 col-lg-3 mb-5">
        <a class="product-item" href="@ViewBag.meta/@i.meta">
            <img src="~/Content/images/@ViewBag.cate/@i.img" class="img-fluid product-thumbnail">
            <h3 class="product-title">@i.name.ToUpper()</h3>
            
            <strong class="product-price"><span class="product-sale">-@i.sale</span>% @total VNĐ</strong>

            <span class="icon-cross">
                <img src="~/Content/images/cross.svg" class="img-fluid">
            </span>
        </a>
    </div>
}