@model IEnumerable<WeirdosShop.Models.News>

<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title">Recent Blog</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="/news" class="more">View All Posts</a>
            </div>
        </div>

        <div class="row">
            @foreach (var i in Model)
            {
                if(i.order <= 3)
                {
                    <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                        <div class="post-entry">
                            <a href="/@ViewBag.meta/@i.meta" class="post-thumbnail"><img src="~/Content/images/Banner/@i.img" alt="Image" class="img-fluid"></a>
                            <div class="post-content-entry">
                                <h3><a href="#">@i.name.ToUpper()</a></h3>
                                <div class="meta">
                                    <span><a href="#">@i.description</a></span><br /> 
                                    <span>on @i.datebegin</span>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

