@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="content">
    @{Html.RenderAction("getBanner", "Home");}

    @{Html.RenderAction("getCategory", "Home");}

    @{Html.RenderAction("getNews", "Home"); }
</div>
