
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="content">
    @{Html.RenderAction("getBanner", "Home");}

    @{Html.RenderAction("getCategory", "Home");}
</div>
