
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="untree_co-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12">
                <div class="border p-4 rounded" role="alert">
                    Bạn là khách hàng thành viên? <a href="#">Nhấn vào đây</a> để đăng nhập.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mb-5 mb-md-0">
                <h2 class="h3 mb-3 text-black">Thông tin giao hàng</h2>
                <div class="p-3 p-lg-5 border bg-white">
                    
                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_fname" class="text-black">Họ và tên <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_name" name="c_name">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <label for="c_lname" class="text-black">Email <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_email" name="c_email">
                        </div>
                        <div class="col-md-8">
                            <label for="c_companyname" class="text-black">Số điện thoại <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_phonenum" name="c_phonenum">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12">
                            <label for="c_address" class="text-black">Địa chỉ <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" id="c_address" name="c_address" placeholder="Nhập địa chỉ giao hàng...">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="c_order_notes" class="text-black">Ghi chú</label>
                        <textarea name="c_order_notes" id="c_order_notes" cols="30" rows="5" class="form-control" placeholder="Viết ghi chú cho đơn hàng của bạn tại đây..."></textarea>
                    </div>

                </div>
            </div>
            <div class="col-md-6">

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Mã khuyến mãi</h2>
                        <div class="p-3 p-lg-5 border bg-white">

                            <label for="c_code" class="text-black mb-3">Nếu bạn có mã khuyến mãi, hãy nhập vào đây!</label>
                            <div class="input-group w-75 couponcode-wrap">
                                <input type="text" class="form-control me-2" id="c_code" placeholder="Mã khuyến mãi" aria-label="Coupon Code" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-black btn-sm" type="button" id="button-addon2">Áp dụng</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row mb-5">
                    <div class="col-md-12">
                        <h2 class="h3 mb-3 text-black">Chi tiết đơn hàng</h2>
                        <div class="p-3 p-lg-5 border bg-white">
                            <table class="table site-block-order-table mb-5">
                                <thead>
                                    <th>Sản phẩm</th>
                                    <th>Thành tiền</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Top Up T-Shirt <strong class="mx-2">x</strong>1</td>
                                        <td>$250.00</td>
                                    </tr>
                                    <tr>
                                        <td>Polo Shirt <strong class="mx-2">x</strong>1</td>
                                        <td>$100.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                                        <td class="text-black">$350.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-black font-weight-bold"><strong>Tổng hóa đơn</strong></td>
                                        <td class="text-black font-weight-bold"><strong>$350.00</strong></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0"><a class="d-block" data-bs-toggle="collapse" href="#collapsebank" role="button" aria-expanded="false" aria-controls="collapsebank">Thanh toán khi giao hàng (COD)</a></h3>

                                <div class="collapse" id="collapsebank">
                                    <div class="py-2">
                                        <p class="mb-0">Bạn chỉ cần gửi tiền cho đơn vị vận chuyển khi bạn nhận hàng.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='thankyou.html'">Đặt hàng</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- </form> -->
    </div>
</div>

